.consult-bg
{ 
    background: #153039;
    color: aliceblue;
    font: 18px !important;
}
.text-header-bg{
    background: #153039 !important;
   color:#e91e63 !important;
}
.header2{
    background: rgb(237, 75, 83);
    padding: 100px 0px 15px;
  
}

.base-color{
    color:#e91e63 !important;
}
.second-color{
    color:#153039 !important;
}
.text-color{
    color: #153039 !important;
}
.section-bg{
  background: #153039 !important;
  padding: 10px; 
  color: white !important;
}
.bg-auto{
   background: #153039;
   padding:10%;  
}
.btn-default{
    color: white !important;
}
.sub-hero{
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
}
.font-18{
    font-size: 18px !important;
    line-height: 40px;
}
.font-20{
    font-size: 20px !important;  
}
.font-22{
    font-size: 22px !important;  
}
.card_body{
    padding: 45px;
}
.services_button{
    margin-top: -7%;
}
.services-sub-header
{
    font-weight: 600;
    font-size: 20px;
    color: black;
 }
 .services-content{
    font-size: 18px !important;
 }
 .services-img{
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
 }
 .form-bg{
    background-color: #f6f6f6;
 }
 .text-title{
    height: 3px;
    width: 70px;
    margin-left: 43%;
    bottom: 40px;
    background-color: #e91e63;
 }
.section-title_custom::before{
    height: 3px;
    content: '';
    width: 70px;
    margin-left: -90px;
    bottom: 40px;
    background-color: #e91e63;
 }
 .section-title_custom:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 250px;
    margin-left: 20px;
    bottom: 40px;
    background-color: #e91e63;
}
 .section-title_custom:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 250px;
    margin-left: -270px;
    bottom: 40px;
    background-color: #e91e63;
}
.section-title_custom {
    /* font-size: 30px; */
    color: #333;
    line-height: 52px;
    font-weight: 700;
    padding-bottom: 15px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

@media (max-width: 564.98px){
    .section-title_custom {
    font-size: 15px !important;
    }
    .hero-area-title{
    font-size: 25px !important;
    }
    .hero-area-sub-title{
    font-size: 15px !important;
    font-weight: 400 !important;
    }
    .section-bg{
    top: 20px;
    text-align: center;
    }
    .text-header-bg{
     width: 400px;
     /* margin-left: 17%; */
     margin-top: -20%;
     font-size: 40px !important;
    }
    .second-header-sub-title{
        font-weight: 500 !important;
        font-size: 22px !important;
    }
 }
@media (min-width: 565px) and (max-width: 767.98px) { 
    .section-title_custom {
        font-size: 20px;
       }
       .hero-area-title{
        font-size: 25px !important;
       }
       .hero-area-sub-title{
        font-size: 15px !important;
        font-weight: 400 !important;
       }
       .section-bg{
        top: 20px;
        text-align: center;
       }
       .text-header-bg{
        width: 400px;
        /* margin-left: 17%; */
        margin-top: -20%;
        font-size: 40px !important;
       }
       .second-header-sub-title{
        font-weight: 500 !important;
        font-size: 22px !important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .text-header-bg{
        width: 400px;
        /* margin-left: 17%; */
        margin-top: -20%;
        font-size: 40px !important;
       }
       .second-header-sub-title{
        font-weight: 500 !important;
        font-size: 22px !important;
    }

}
@media (min-width: 992px) and (max-width: 1199.98px) { 


}
@media (min-width: 1200px) {
.section-title_custom {
font-size: 35px;
}
.hero-area-sub-title{
font-weight: 400 !important;
}
.text-header-bg{
width: 80%;
/* margin-left: 10%; */
margin-top: -9%;
font-size: 80px !important;
}
.second-header-sub-title{
    font-weight: 600 !important;
    font-size: 27px !important;
}
}